
@import "_nav.scss";
@import "_variables.scss";
@import "_body.scss";
@import "_nav.scss";
@import "_mediaqueries.scss";
@import "_footer";


    #bgvideo {
        width: 100vh;
        height: auto;
        object-fit: contain;
    }


#partners {
    background: #1a1819 url(../SASS/images/main.jpg);
    background-size: cover;
    padding: 15px 0;
    position: relative;
    text-align: center; 
    //*border: 5px solid #7f520b;//*

    .mb-1 {
        margin-bottom: 0.25rem!important;
    }

    .separator-top {
        border-top: 3px solid map-get($map: $colors , $key: "border" );
        width: 100%;
    }

    .row > * {
        flex-shrink: 0;
         width: 100%;
         max-width: 100%;
         padding-right: calc(var(--bs-gutter-x) * .5);
         padding-left: calc(var(--bs-gutter-x) * .5);
         margin-top: var(--bs-gutter-y);
     }
 
 .row {
     --bs-gutter-x: 1.5rem;
     --bs-gutter-y: 0;
     display: flex;
     flex-wrap: wrap;
     margin-top: calc(-1 * var(--bs-gutter-y));
     margin-right: calc(-.5 * var(--bs-gutter-x));
     margin-left: calc(-.5 * var(--bs-gutter-x));
    }
 
     .brand-item {
         align-items: center;
         display: flex;
         height: 82px;
         justify-content: center;
         text-align: center;
         color: #fbf292 !important;
        }
     
 
     .my-auto {
         margin-top: auto!important;
         margin-bottom: auto!important;
     
        }    
}


*, ::after, ::before {
    box-sizing: border-box;
}

.section-center {
    border-top: 1px solid #7f520b;
    border-bottom: 1px solid #7f520b;
    border-radius: 4px;
    width: 100vh;
    height: auto;

    h2 {
        color: #fbf292;
        text-align: center;
        font-size: 2rem;
    }

    p {
        text-align: center;
        font-family: 'Cinzel Decorative', cursive;
        font-size: 1.2rem;
        color: $color-texto;
        padding: 5px;
    }
}

.images {
    padding: 4px;
    margin: 10px;
    display: flex;

.container-img {
border: 1px solid red;
padding: 3px;
display: flex;
justify-content: space-evenly;
height: 195px;
}

}

.flex-contain {
    border: 2px solid #7f520b;

    .h2-center {
        font-size: 1.8rem;
        text-align: center;
        position: relative;
        top: 5rem;
        padding: 5px;
        margin: 5px;
        color: $color-texto;
    }
    
    .p-nov {
        font-family: Montserrat,sans-serif;
        font-size: 1rem;
        padding: 5px 5px 5px 0;
        margin: 0;
        font-weight: 400;
        text-align: center;
        position: relative;
        top: 5rem;
        color: $color-texto;
    }
    
    p {
        font-family: Montserrat,sans-serif;
        font-size: .9375rem;
        padding: 5px 5px 5px 0;
        margin: 0;
        font-weight: 400;
        color: $color-texto;
    }
}

.caja1 {
    background-image: url(../images/novedad1.jpg);
}

.caja1:hover img {-webkit-transform:scale(1.3);transform:scale(1.3);}

.caja1 {overflow:hidden;}


.caja2 {
    background-image: url(../images/novedad2.jpg);
}

.caja2:hover img {-webkit-transform:scale(1.3);transform:scale(1.3);}

.caja2 {overflow:hidden;}


.caja3 {
    background-image: url(../images/novedad3.jpg);
}

.caja3:hover img {-webkit-transform:scale(1.3);transform:scale(1.3);}

.caja3 {overflow:hidden;}



#features-section .feature-card:nth-child(1) {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/feature1.jpg);

    p {
    opacity: 0;
    transition: .4s ease;
}

}

.features {

    .especial_feature1 {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/feature4.jpg)!important;
    }
    
    .especial_feature2 {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/feature1.jpg)!important;
    }
    
    .especial_feature3 {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/feature6.jpg)!important;
    }

    .col-md-4 {
        background-size: cover;
        background-position: center;
        min-height: 550px;
        padding: 10vh 5vw;  }

        .feature-card {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            border-bottom: 2px solid #000;  }
    
    h2 {
     margin-top: 30vh;
    transition: .4s ease;
    }

    .short-hr-center {
        color: $color-texto;
    }


}

.button-game {

    height: auto;
    width: 150px;
    margin: 20px auto;
    padding: 10px 15px;
    font-size: 1rem;
    font-family: Montserrat,sans-serif;
    color: #222;
    border: none;
    border-radius: 4px;
    background: #fff;
    display: inline-block;
    outline: none;
    transition: all .2s ease;
    cursor: pointer;
    text-align: center;


}


.form {
width: 100%;
max-width: 600px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Cinzel Decorative', cursive;
color: #ff0000;
padding: 20px;
margin: auto;

input {
width: 90%;
height: 30px;
margin: 0.5rem;
}

}


