
@media (min-width: 320px)  {

    .navbar { 
        background-image: url(../images/main.jpg);
        width: 90vh;
        height: auto;

        li {

        display: flex;
        justify-content: center;

        }

        }

        .footer .grupo-1 {
            width: 100vh;
            grid-template-columns: repeat(1, 1fr); 
                grid-gap: 30px;
                padding: 35px 0px;
            

        }

            .images {
                padding: 4px;
                margin: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
            
            .container-img {
                border: 1px solid #ff0000;
                padding: 3px;
                display: flex;
                justify-content: space-evenly;
                width: 90%;
            }

            .galeria {
                width: 100%;
            }   
        
           }

           #bgvideo {
            width: 90vh;
        }

   }


    

@media (min-width: 768px) { 
    .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%; }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .navbar {
        width: 110%;
        height: auto;
    }

    #bgvideo {
        width: 110%;
        height: auto;
    }
    
    #partners {
        width: 110%;
        height: auto;
    }
    
    .images {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .galeria {
        width: 100%;
        height: auto;


    }

    .container-img {
        display: flex;
        justify-content: center;
         width: 80%;
         height: auto;
    }

    .flex-contain {
        display: flex;
        flex-direction: row;
        position: relative;
        left: 0;
        

    }

}